body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/bike\ \(2\).jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 360px; 
    position: relative; 
  }
  h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  input[type="text"],
  input[type="password"],
  button {
    display: block;
    width: calc(100% - 20px);
    padding: 15px 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(249, 249, 249, 0.5); 
    border: 1px solid rgba(238, 238, 238, 0.5); 
    transition: 0.3s;
    color: #000;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  button {
    background: rgba(0, 123, 255, 0.8); 
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(0, 123, 255, 0.8); 
  }
  button:hover {
    background: rgba(0, 86, 179, 0.8); 
  }
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
 